$black: #222;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);

$gray: #a0b5b5;
$light-gray: #f5f5f5;
$medium-light-gray: #eaeeee;

$jade: #42cbad;
$jade-text: #42cbad; // #38bca0 ? did slightly darker for text setting but unsure if i like
$transparent-jade: rgba(66, 203, 173, 0);
$translucent-jade: rgba(66, 203, 173, 0.3);

$light-gold: rgba(255, 215, 48, 0.4);
$gold: rgba(255, 215, 48, 0.7);
$dark-gold: rgb(250, 199, 42);
