$max-width: 750px;
$footer-height: 80px;

.wrapper {
  @include clearfix;
  margin: 0 auto;
  max-width: $max-width;
  min-height: 100%;
}

.content {
  @include clearfix;
  margin: 0 auto;
  transition: 0.2s all;
  width: 90%;
}

.headers {
  padding: 3rem 0;

  h2 {
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 0;
  }
}

.footer {
  bottom: 0;
  height: $footer-height;
  max-width: inherit;
  position: absolute;
  transition: 0.2s all;
  width: 100%;

  span {
    font-size: 16px;
    line-height: $footer-height;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

.inline-nav {
  height: 100px;
  margin-left: 75%;
  padding: 25px 0 75px;
  position: relative;
  text-align: right;
  width: 25%;

  .next-subject {
    position: absolute;
    top: 37.5%;
    transform: translateY(-50%);
    width: 75%;
  }

  .arrow {
    position: absolute;
    right: 0;
    top: 37.5%;
    transform: translateY(-50%);

    .line {
      background-color: $jade;
      border-radius: 2px;
      height: 4px;
      width: 34px;
    }

    :first-child {
      margin-bottom: 18px;
      transform: rotate(45deg);
    }

    :last-child {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0 10px;
  }

  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
