{{#extend "base"}}

{{#content "main" mode="prepend"}}
<div class="headers hide-mobile">
  <h1>CSS</h1>
  <h2>Because websites should be more than Times New Roman</h2>
</div>

<p>Cascading Style Sheets: it's what's for dinner!</p>

<p>Content coming soon!</p>

{{/content}}

{{#content "nav" mode="prepend"}}
<div class="next-subject"><a href="/jade/js.html">Programming for the web with Javascript</a></div>
<div class="arrow">
  <a href="/jade/js.html">
    <div class="line"></div>
    <div class="line"></div>
  </a>
</div>
{{/content}}

{{/extend}}