{{#extend "base"}}

{{#content "main" mode="prepend"}}
<div class="headers hide-mobile">
  <h1>Git and GitHub</h1>
  <h2>Keep track of your code</h2>
</div>

<p>From an early age, it is instilled into us that we must always <code class="inline-code">command-S</code> every chance we get, so that we don't lose precious work. But what if we want to work on two versions of a project simultaneously? Or we're working with 4 other people, all on the same file? Or 100 people? The need for <strong>version control</strong> is great, and Git is our savior.</p>

<p>A long time ago, I told you to install <a href="//git-scm.com/book/en/v2/Getting-Started-Installing-Git">git</a> and register for <a href="https://github.com">GitHub</a>, so if you haven't already, do so now! You'll need them to get through the lesson&semi; instead of going through content and then doing a mini-project at the end, this will be a little more interactive.</p>

<p>Mac users, open your terminals&semi; Windows users, open Command Prompt. Let's get to it!</p>

<div class="separator"></div>

<p>More content soon!</p>

<!-- create a repo username.github.io

git clone

git add

git commit

git push

...

git log

git diff

git branch?
 -->


{{/content}}

{{#content "nav" mode="prepend"}}
<div class="next-subject"><a href="/jade/nextsteps.html">Bonus round</a></div>
<div class="arrow">
  <a href="/jade/nextsteps.html">
    <div class="line"></div>
    <div class="line"></div>
  </a>
</div>
{{/content}}

{{/extend}}