{{#extend "base"}}

{{#content "main" mode="prepend"}}
<div class="headers hide-mobile">
  <h1>Git and GitHub</h1>
  <h2>Keep track of your code</h2>
</div>

<p>Fork me</p>

<p>Content coming soon!</p>

{{/content}}

{{#content "nav" mode="prepend"}}
<div class="next-subject"><a href="/jade/nextsteps.html">Bonus round</a></div>
<div class="arrow">
  <a href="/jade/nextsteps.html">
    <div class="line"></div>
    <div class="line"></div>
  </a>
</div>
{{/content}}

{{/extend}}