{{#extend "base"}}

{{#content "main" mode="prepend"}}
<div class="headers hide-mobile">
  <h1>HTML</h1>
  <h2>What Your Browser Speaks</h2>
</div>

<p>Here we'll learn about HTML: what it is and how to use it.</p>

<p>Content coming soon!</p>

{{/content}}

{{#content "nav" mode="prepend"}}
<div class="next-subject"><a href="/jade/css.html">Styling with CSS</a></div>
<div class="arrow">
  <a href="/jade/css.html">
    <div class="line"></div>
    <div class="line"></div>
  </a>
</div>
{{/content}}

{{/extend}}