{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="headers">
  <h1>From Zero to Website</h1>
  <h2>Learn to build your own personal website</h2>
</div>

<p>Get psyched! This is an introduction to web development. No prior programming experience is needed.</p>

{{/content}}
{{/extend}}