{{#extend "base"}}
{{#content "main" mode="prepend"}}

<div class="headers">
  <h1>From Zero to Website</h1>
  <h2>Learn to build your own personal website</h2>
</div>

<p>Get psyched! This is an introduction to web development. No prior programming experience is needed.</p>

<h2>What will I learn?</h2>
<p>We'll cover the fundamentals of HTML, CSS, and JavaScript. Once we've covered the basics, we'll use GitHub to deploy a personal site for the whole world to see.</p>

<h2>What do I need to get started?</h2>
<p class="with-list">Before going through this tutorial, <strong>do these things</strong>:</p>
<ul>
  <li>Register on <a href="//github.com">GitHub</a>. Plus, get your <a href="//education.github.com/pack">student developer pack</a>! It will serve you well.</li>
  <li>Download <a href="//www.sublimetext.com/3">Sublime Text</a>.</li>
  <li>Install <a href="//git-scm.com/book/en/v2/Getting-Started-Installing-Git">Git</a>.</li>
</ul>

<!-- <div class="inline-nav">
  <div class="day">Day One</div>
  <div class="subject">HTML</div>
  <div class="arrow">
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div> -->

{{/content}}
{{/extend}}