{{#extend "base"}}

{{#content "main" mode="prepend"}}
<div class="headers hide-mobile">
  <h1>JavaScript</h1>
  <h2>Build fully-fledged web applications</h2>
</div>

<p>And the best part is, it's Turing-complete!</p>

<p>Content coming soon!</p>

{{/content}}

{{#content "nav" mode="prepend"}}
<div class="next-subject"><a href="/jade/git.html">Version control with Git and GitHub</a></div>
<div class="arrow">
  <a href="/jade/git.html">
    <div class="line"></div>
    <div class="line"></div>
  </a>
</div>
{{/content}}

{{/extend}}