{{#extend "base"}}

{{#content "main" mode="prepend"}}
<div class="headers hide-mobile">
  <h1>JavaScript</h1>
  <h2>Build fully-fledged web applications</h2>
</div>

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The part I love most about teaching javascript is the part where they get scared</p>&mdash; GonzoHacker (@GonzoHacker) <a href="https://twitter.com/GonzoHacker/status/684034343677890561">January 4, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Believe it or not, we already have most of the tools we need to make a fully-functioning website. However, HTML and CSS impose some frustrating restrictions on web development that get completely blown away when you have some familiarity with JavaScript.</p>

<p>It would be impossible to offer a complete course in JavaScript on one page of an introductory web development course. So let's take a little bit of a different approach to this. Instead of learning JavaScript concepts from the ground up, we'll learn how to do some cool things with an easy-to-use JavaScript <strong>library</strong> called <strong>jQuery</strong>.</p>

<p>Note that this is inadequate preparation for making anything more complex than personal sites! If you want to learn JavaScript properly, I cannot recommend <a href="http://eloquentjavascript.net/">Eloquent JavaScript</a> highly enough. You don't need any programming background to start reading it, and you'll be surprised how quickly you'll get into some really advanced concepts.</p>

<p>With that said, you'll still come out on the other side of this lesson with some really, really cool tricks up your sleeves. Onwards and upwards!</p>

<div class="separator"></div>

<p>More content coming soon!</p>



{{/content}}

{{#content "nav" mode="prepend"}}
<div class="next-subject"><a href="/jade/git.html">Version control with Git and GitHub</a></div>
<div class="arrow">
  <a href="/jade/git.html">
    <div class="line"></div>
    <div class="line"></div>
  </a>
</div>
{{/content}}

{{/extend}}