{{#extend "base"}}

{{#content "main" mode="prepend"}}
<div class="headers hide-mobile">
  <h1>Where to go from here</h1>
  <h2>Domains, collaboration, and more!</h2>
</div>

<p>Hope you like .me's</p>

<!-- Favicons -->

<!-- Responsive -->

<!-- GA -->

<p>Content coming soon!</p>

{{/content}}

{{#content "nav" mode="prepend"}}
<!-- No more pages -->
{{/content}}

{{/extend}}